/* .containerSection {
    max-width: 400px;
    background-color: #aefaae;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(101, 104, 101);
}

.inputSection {
    display: flex;
    gap:  5px;
    margin-bottom: 20px;
}

.inputSection input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(203, 208, 203);
}

.inputSection button {
    background-color: rgb(27, 119, 87);
    border: none;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 18px;
}

.inputSection button:hover {
    background-color: #099809;
    color: black;
}

ul {
    list-style:  none;
    padding: 0;
    margin: 0;
}

li {
    padding: 12px;
    margin-bottom: 10px;
    background-color: whitesmoke;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
    color: green;
}

.completed {
    text-decoration: line-through;
    color: rgb(146, 180, 192);
} */