/* .todo-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.input-section {
    display: flex;
    gap: 10px;
    margin-bottom: 20px
}

.input-section input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.input-section button {
    padding: 10px 18px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.input-section button:hover{
    background: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

 li {
    background: #f7f7f7;
    padding: 12px;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    color: gray;
} */